html,
body {
    margin:0,
    padding:0;
    font-family: Tahoma;
    color: rgb(21,21,21);
}

body {
    padding: 1rem 1rem 0 2rem;
}

h1 {
    font-size: 1.6rem;
}

ul {
    list-style: none;
    margin: 2rem 0;
}

li {
    margin : 1rem;
}

label {
    padding-left: 1rem;
    font-size: 1.5rem;
}

form {
    margin: 2rem 0;
}

form input {
    font-size: 1.5rem;
    padding: .5rem;
}
